<div><br></div>
<div class="d-flex justify-content-between">
  <p class="text-center text-muted">&copy; Copyright 2023 - ヴィツ.js Contributors</p>
  <% if (data) { %>
  <button type="button" id="logout" class="btn btn-outline-secondary"><i class="fas fa-sign-out-alt"></i> &nbsp;Logout</button>
  <% } %> 
</div>