<title>ブイツ.js</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="japanese,game">
<meta name="description" content="ブイツ.js - Japanese Flash Card Game">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body {
    background-color: #c8c8ff;
    padding-top: 5em;
  }
</style>
