<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ヴィツ.js</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link<% if (page === "About") { %> font-weight-bold<% } %>" href="<%- meta.route.about %>">About</a>
    </li>
    <% if (data) {%>
    <li class="nav-item">
      <a class="nav-link<% if (page === "Games") { %> font-weight-bold<% } %>" href="<%- meta.route.games %>">Games</a>
    </li>
    <% } %>
  </ul>
</nav>
