<!DOCTYPE html>
<html>

<head>
  <%- include("../inc/head", { page: "Game: test", data: data, meta: meta }); %>
</head>

<body class="container">

  <header>
    <%- include("../inc/nav", { page: "Game: test", data: data, meta: meta }); %>
  </header>

  <main>
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
      <div class="row jumbotron w-100">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
      <div class="row jumbotron w-100">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
      <div class="row jumbotron w-100">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include("../inc/foot", { page: "Game: test", data: data, meta: meta }); %>
  </footer>

</body>

</html>