<!DOCTYPE html>
<html>

<head>
  <%- include("../inc/head", { page: "games" }); %>
</head>

<body class="container">

  <header>
    <%- include("../inc/nav"); %>
  </header>

  <main>
    <div class="jumbotron">
      <p>
        This is a games page.
      </p>
    </div>
  </main>

  <footer>
    <%- include("../inc/foot"); %>
  </footer>

</body>

</html>