<!DOCTYPE html>
<html>

<head>
  <%- include("../inc/head", { page: "home" }); %>
</head>

<body class="container">

  <header>
    <%- include("../inc/nav"); %>
  </header>

  <main>
    <div class="jumbotron">
      <p>
        Welcome to ブイツ.js,<% if (data) { %> <em><%= data.name %></em>,<% } %> here you can practice your ひらがな, カタカナ, and 漢字.  There are multiple styles of flashcard game to be had here, please peruse the game list above<% if (!data) { %> once logged in<% } %>.  Top scores are tracked in the database so you can always relive your high scores!
        <br>
      </P>
      <% if (!data) { %><p>
        If you want to continue, please sign in using one of the methods below.
        <br>
      </p>
      <button type="button" class="btn btn-outline-info" onclick="window.location.href='/login/google';">
        <i class="fab fa-google"></i> &nbsp;Sign in with Google
      </button><% } %>
    </div>
  </main>

  <footer>
    <%- include("../inc/foot"); %>
  </footer>

</body>

</html>