<!DOCTYPE html>
<html>

<head>
  <%- include("../inc/head", { page: "Game: " + game, data: data, meta: meta }); %>
</head>

<body class="container">

  <header>
    <%- include("../inc/nav", { page: "Game:" + game, data: data, meta: meta }); %>
  </header>

  <main>
  </main>

  <footer>
    <%- include("../inc/foot", { page: "Game: " + game, data: data, meta: meta }); %>
  </footer>

</body>

</html>