<!DOCTYPE html>
<html>

<head>
  <%- include("../inc/head", { page: "Games", data: data, meta: meta }); %>
</head>

<body class="container">

  <header>
    <%- include("../inc/nav", { page: "Games", data: data, meta: meta }); %>
  </header>

  <main>
    <div class="jumbotron">
      <p>
        This is a games page.
      </p>
    </div>
  </main>

  <footer>
    <%- include("../inc/foot", { page: "Games", data: data, meta: meta }); %>
  </footer>

</body>

</html>